<% @portfolio.each_slice(4) do |portfolios| %>
  <% portfolios.each do |portfolio| %>
    <div class="col-md-3 col-sm-3" style="margin-top:25px;" id="portfolio-<%= portfolio.id %>">
      <div class="portfolio">
        <div class="portfolio-posts">
          <% portfolio.mypost.each do |post| %>
            <%= link_to image_tag(post.image.url(:post) , :class => 'portfolio-postimg'),portfolio %>
          <% end %>
        </div>
        <br><p class="text-center"><%= link_to portfolio.title,portfolio %></p><br>
        <p class="text-center"><%= link_to '刪除', portfolio_path(portfolio) ,:class => "btn btn-default", method: :delete, data: {confirm: "確定刪除?" }, remote: true %></p>
      </div>
    </div>
  <% end %>
<% end %>
<div class="col-md-3 col-sm-3" style="margin-top:25px;">
  <div class="portfolio">
    <%= render 'form' %>
    <div class="portfolio-btnbar">
      <%= image_tag 'menu/newfolder.png' ,:id => 'portfolio-createbtn' %>
    </div>
  </div>
</div>
<script>
  $('#portfolio-form').hide();
  $('#portfolio-createbtn').on('click',function(){
      $('#portfolio-createbtn').hide();
      $('#portfolio-form').fadeIn();
  })
  $('#portfolio-cancelbtn').on('click',function(){
      $('#portfolio-createbtn').fadeIn();
      $('#portfolio-form').hide();
  })
</script>
