<% @user.each_slice(3) do |users| %>
  <% users.each do |user| %>
    <div class="col-md-4 col-sm-4" id="user-<%= user.id  %>" style="margin-top:25px;">
      <div class="usercard">
        <%= link_to image_tag(user.avatar.url(:avatar) , :class => 'usercard-avatar'),user %><br>
        <p class="text-center"><%= user.name %></p><br>
        <div class="text-center"><%= raw user.about %></div><br>
        <p class="text-center"><%= user.email %></p><br>
        <div class="btnbar">
          <%= link_to '刪除帳號' , admindestroy_path(user.id) , :class => 'ui black basic button', method: :delete, data: { confirm: "確定刪除嗎?" },remote: :true %>
          <div class="ui black basic button" data-toggle="modal" data-target="#message-<%= user.id %>">傳送訊息</div>
          <% if user.role == 0  %>
            <div id="upgradeuserbtn-<%= user.id %>">
              <%= link_to '通過驗證' , upgradeuser_path(user.id) , :class => 'ui black basic button' , method: :post, data: { confirm: "確定驗證嗎?" },remote: :true %>
            </div>
          <% end %>
          <%= render'./messages/form', receiver: user %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
