<div style="width:100%;display:block;margin-top:50px;" class="text-center">
  <% if @post.length > 0 %>
    <% @post.each do |post| %>
      <div class="col-md-4 text-center">
        <%= image_tag post.image.url(:post) ,:style =>"width:80%;margin-bottom:20px;" %>
        <%= form_for Draw.new, :html => {:class => "ui form"}, remote: true do |f| %>
          <div class="field">
            <%= f.text_field :content,:placeholder => "想說的一句話" %>
          </div>
          <input type='hidden' value='<%= post.user_id %>' name='draw[receiver_id]' />
          <div class="field">
            <%= f.submit '傳送', :class =>"tiny ui black basic button", data: {confirm: "確定送出?" } %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <h1 class="text-center" style="padding-top:30%;">查無符合條件的作品</h1><br>
    <div class="ui small black basic button" data-dismiss="modal">退出</div>
  <% end %>
</div>
