<div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
  <h1 class="text-center h1">更新個人資料</h1>
  <% if @user.errors.count > 0 %>
    <p class="alert alert-warning formalert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <% @user.errors.each do |attr,msg|  %>
        <%= msg %><br>
      <% end %>
    </p>
  <% end %>
  <%= form_for @user, :html => {:class => "ui form"} do |f| %>
    <div class="field">
        <%= f.label :avatar, '大頭照' %>
        <%= f.file_field :avatar %><br>
        <%= f.hidden_field(:avatar_cache) %>
    </div>
      <div class="field">
        <%= f.label :name, '用戶名' %>
        <%= f.text_field :name %><br>
    </div>
      <div class="field">
        <%= f.label :email, 'Email' %>
        <%= f.text_field :email %><br>
      </div>
      <div class="field">
        <%= f.label :password, '密碼(8碼以上)' %>
        <%= f.password_field :password, placeholder:"若不更新密碼則留空"  %><br>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, '再次輸入密碼' %>
        <%= f.password_field :password_confirmation, placeholder:"若不更新密碼則留空" %><br>
      </div>
      <div class="field">
        <%= f.label :category,'你最擅長、作品最常出現的領域(可複選):'%>
        <div class="user-category">
          工業設計
          <%= image_tag 'user/A.png',:class =>"user-category-img" %>
          <%= f.check_box(:category, { :multiple => true }, 'A' ) %>
        </div>
        <div class="user-category">
          攝影
          <%= image_tag 'user/B.png',:class =>"user-category-img" %>
          <%= f.check_box(:category, { :multiple => true }, 'B' ) %>
        </div>
        <div class="user-category">
          圖文創作
          <%= image_tag 'user/C.png',:class =>"user-category-img" %>
          <%= f.check_box(:category, { :multiple => true }, 'C' ) %>
        </div><br>
        <div class="user-category">
          藝術
          <%= image_tag 'user/D.png',:class =>"user-category-img" %>
          <%= f.check_box(:category, { :multiple => true }, 'D' ) %>
        </div>
        <div class="user-category">
          服裝設計
          <%= image_tag 'user/E.png',:class =>"user-category-img" %>
          <%= f.check_box(:category, { :multiple => true }, 'E' ) %>
        </div>
        <div class="user-category">
          UI平面設計
          <%= image_tag 'user/F.png',:class =>"user-category-img" %>
          <%= f.check_box(:category, { :multiple => true }, 'F' ) %>
        </div>
        <div class="user-category">
          動畫電繪
          <%= image_tag 'user/F.png',:class =>"user-category-img" %>
          <%= f.check_box(:category, { :multiple => true }, 'G' ) %>
        </div><br>
      </div>
      <div class="field">
        <%= f.label :about, '個人簡介' %>
        <%= f.text_area :about , class: 'tinymce' %><br>
      </div>
      <%= f.submit '更新', :class =>"tiny ui black basic button" %>
  <% end %>
</div>

<script>
$(document).ready(function(){
  var category = "<%= current_user.category %>";
  for(var i in category){
    if(category[i]!="0"){
      $("#user_category_"+category[i].toLowerCase()).click();
    }
  }
  var width = $('.edituser-category-img').width();
  $('.edituser-category-img').height(width);

  tinyMCE.remove();
  tinyMCE.init({
  	selector: "textarea.tinymce",
    toolbar: ["undo redo | alignleft aligncenter alignright alignjustify | bullist numlist outdent| link unlink | hr","fontsizeselect | bold italic underline strikethrough | subscript superscript | forecolor | removeformat | preview"],
    plugins: "advlist,autolink,lists,link,charmap,preview,hr,anchor,visualblocks,visualchars,insertdatetime,nonbreaking,contextmenu,textcolor,colorpicker",
  	menubar: false
  });
});
</script>
