<% @user.each_slice(3) do |users| %>
  <% users.each do |user| %>
    <div class="col-md-4 col-sm-4" style="margin-top:25px;">
      <div class="usercard">
        <div class="usercard-posts">
          <% user.mypost.each do |post| %>
            <div class="usercard-post" data-toggle="modal" data-target="#postmodal" data-id="<%= post.id %>">
              <%= image_tag post.image.url(:post) , :class => 'usercard-postimg' %>
            </div>
          <% end %>
        </div>
        <%= link_to image_tag(user.avatar.url(:avatar) , :class => 'usercard-avatar'),user %>
        <div class="text-center usercard-about">
          <p style="font-weight:bold;"><%= link_to user.name,user %></p><br>
          <p class="text-left"><%= user.about %></p>
        </div>
        <%= render'userbtn', user: user %>
      </div>
    </div>
  <% end %>
<% end %>

<div class="modal fade" id="postmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>


<script type="text/javascript">
  /* ajax show */
  $(document).ready(function(){
    $('.usercard-post').on('click',function(){
      var ajaxurl = '/posts/' + this.getAttribute("data-id");
      $.ajax({
        url:ajaxurl,
        type: 'GET',
        success: function(response) {
          $('#postmodal .modal-content').prepend(response);
          $('#postmodal').data('bs.modal').handleUpdate();
        }
      });
    });
    $('#postmodal').on('hidden.bs.modal', function () {
      console.log('hide');
      $('#postmodal .modal-content').empty();
    });
  });
</script>
