<% if check_today_draw > 0 %>
<div class="modal fade" id="drawmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body text-center" style="padding:20px 50px;">
        <p style="line-height:28px;">嗨，這個功能一天只能用一次喔，明天再來吧!</p><br><br>
        <div class="text-center">
          <div class="ui small black basic button" data-dismiss="modal">退出</div>
        </div>
      </div>
    </div>
  </div>
</div>
<% elsif check_today_draw == 0 && today_draw.length>0 %>
<div class="modal fade" id="drawmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body" id="stepthree" style="height:600px;">
        <div style="width:100%;display:block;margin-top:50px;" class="text-center">
          <h1 class="text-center">今天抽到的作品</h1><br>
          <% today_draw.each do |post| %>
            <div class="col-md-4 text-center">
              <%= image_tag post.image.url(:post) ,:style =>"width:80%;margin-bottom:20px;" %>
              <%= form_for Drawmsg.new, :html => {:class => "ui form"}, remote: true do |f| %>
                <div class="field">
                  <%= f.text_field :content,:placeholder => "想說的一句話" %>
                </div>
                <input type='hidden' value='<%= post.user_id %>' name='draw[receiver_id]' />
                <div class="field">
                  <%= f.submit '傳送', :class =>"tiny ui black basic button", data: {confirm: "確定送出?" } %>
                </div>
              <% end %>
            </div>
          <% end %>
      </div>
    </div>
    <div class="modal-body" id="stepfour" style="display:none;height:300px;"></div>
    </div>
  </div>
</div>
<% else %>
<div class="modal fade" id="drawmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body" id="stepone" style="padding:20px 50px;">
        <p>歡迎使用Nonesense交流功能:</p><br><br>
        <p style="line-height:28px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您將可以跟不同領域的設計師/插畫家/藝術家進行互動，讓您擴展人脈，與其他設計師合作、共創、接案。目前將以選擇自己喜愛的作品做配對，讓您直接跟您喜歡的設計師/插畫家/藝術家聊天，每次上線都會有不同的驚喜喔!</p><br><br>
        <div class="text-center">
          <div class="ui small black basic button" id="join" style="margin-right:50px;">參加</div>
          <div class="ui small black basic button" data-dismiss="modal">不參加</div>
        </div>
      </div>
      <div class="modal-body" id="steptwo" style="display:none;">
        <h1 class="text-center">請選擇你想交流的(可複選)</h1>
        <div style="display:block;width:100%;">
          <div class="user-category">
            工頁設計
            <%= image_tag 'user/A.png',:class =>"user-category-img" %>
            <input type="checkbox" name="A">
          </div>
          <div class="user-category">
            攝影
            <%= image_tag 'user/B.png',:class =>"user-category-img" %>
            <input type="checkbox" name="B">
          </div>
          <div class="user-category">
            圖文創作
            <%= image_tag 'user/C.png',:class =>"user-category-img" %>
            <input type="checkbox" name="C">
          </div>
          <div class="user-category">
            藝術
            <%= image_tag 'user/D.png',:class =>"user-category-img" %>
            <input type="checkbox" name="D">
          </div>
          <div class="user-category">
            服裝設計
            <%= image_tag 'user/E.png',:class =>"user-category-img" %>
            <input type="checkbox" name="E">
          </div>
          <div class="user-category">
            UI平面設計
            <%= image_tag 'user/F.png',:class =>"user-category-img" %>
            <input type="checkbox" name="F">
          </div>
          <div class="user-category">
            動畫電繪
            <%= image_tag 'user/G.png',:class =>"user-category-img" %>
            <input type="checkbox" name="G">
          </div>
          <div class="text-center">
            <div class="ui small black basic button" id="submit" style="margin-right:50px;">送出</div>
            <div class="ui small black basic button" id="close" data-dismiss="modal">取消</div>
          </div>
        </div>
      </div>
      <div class="modal-body" id="stepthree" style="display:none;height:600px;"></div>
      <div class="modal-body" id="stepfour" style="display:none;height:300px;"></div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {

    /* clear draw model when user close */
    $('#drawmodal').on('hidden.bs.modal', function () {
      $('#drawmodal #stepone').css('display', 'block');
      $('#drawmodal #steptwo').css('display', 'none');
    });

    $('#drawmodal #join').on('click', function () {
      $('#drawmodal #stepone').remove();
      $('#drawmodal #steptwo').css('display','block').removeAttr('id').attr('id', 'steptwochoose');;
    });

    $('#drawmodal #submit').on('click', function () {
      var check = ["A","B","C","D","E","F","G"];
      var params = "";
      for (var i in check) {
        if ($("#steptwochoose input[name='" + check[i] + "']").prop("checked")) {
          params += check[i];
          $("#steptwochoose input[name='" + check[i] + "']").click();
        }
      }
      var ajaxurl = '/draw?c=' + params;
      $.ajax({
        url: ajaxurl,
        type: 'POST',
        success: function (response) {
          $('#drawmodal #steptwochoose').remove();
          $('#drawmodal #stepthree').css('display', 'block').append(response);
        }
      });
    });
  });
</script>
<% end %>
