<%= link_to image_tag('menu/logo.png', :id => "logo" ),root_path %>
  <ul class="sidemenu">
    <li class="biglink"><%= link_to '動態實況',posts_path %></li>
    <hr>
    <li class="biglink"><%= link_to '找設計師',users_path %></li>
    <hr>
    <% if @category==1 %>
      <li class="slink category"><%= link_to '工藝',users_path(:c =>'A') %></li>
      <li class="slink category"><%= link_to '攝影',users_path(:c =>'B') %></li>
      <li class="slink category"><%= link_to '插畫',users_path(:c =>'C') %></li>
      <li class="slink category"><%= link_to '油畫水彩',users_path(:c =>'D') %></li>
      <li class="slink category"><%= link_to '服裝',users_path(:c =>'E') %></li>
      <li class="slink category"><%= link_to '介面UI',users_path(:c =>'F') %></li>
      <li class="slink category"><%= link_to '動畫電繪',users_path(:c =>'G') %></li>
      <hr>
    <% end %>
    <% if current_user  %>
      <li class="biglink"><%= link_to current_user.name , current_user%></li>
      <hr>
      <% if current_user.role > 0 && @category!=1 && @controlpanel!=1 %>
        <li class="slink"><%= link_to '發文',new_post_path %></li>
        <li class="slink"><%= link_to '我的貼文', current_user %></li>
        <li class="slink"><%= link_to '資料夾',myfolder_path(current_user) %></li>
        <li class="slink"><%= link_to '追蹤的設計師',following_path(current_user)  %></li>
        <% if current_user.role == 2 %>
          <li class="slink"><%= link_to '管理用戶',adminuser_path %></li>
          <li class="slink"><%= link_to '管理文章',adminpost_path %></li>
        <% end %>
      <% elsif @category!=1 && @controlpanel!=1 %>
        <li class="slink"><%= link_to '追蹤的設計師',following_path(current_user)  %></li>
      <% end %>
    <% else %>
      <li class="slink"><%= link_to '註冊', signup_path %></li>
    <% end %>
    <% if @show==1 %>
      <% if (current_user && current_user.id != @user.id) || (!current_user) %>
        <li class="biglink"><%= link_to @user.name , @user %></li>
        <hr>
        <li class="slink"><%= link_to '資料夾' , myfolder_path(@user.id) %></li>
        <li class="slink"><%= link_to '追蹤的設計師' , following_path(@user.id) %></li>
      <% end %>
    <% end %>
    <li class="slink" style="font-size:24px;opacity:0.5;">
      <a href="#"><i class="facebook icon"></i></a>
      <a href="#"><i class="instagram icon"></i></a>
    </li>
    <li class="slink" data-toggle="modal" data-target="#contract">
      會員條款與著作權政策
    </li>
  </ul>
