<div class="topmenu">
  <% if current_user %>
    <li><%= link_to image_tag('menu/logout.png'),logout_path,method: :delete  %></li>
      <li id="mailbox">
          <%= link_to image_tag('menu/mailbox.png',:id =>'mailboxicon'),messages_path %>
          <%= link_to image_tag('menu/mailboxhover.png',:id =>'mailboxiconhover'),messages_path %>
        <% if current_user.msgcount > 0 %>
          <p class="iconcount"><%= current_user.msgcount %></p>
        <% end %>
      </li>
      <li id="notification">
        <div id ='notificationLink' data-id="<%= current_user.id %>">
          <%= image_tag 'menu/notify.png',:id => "notificationicon" %>
          <% if current_user.notifycount > 0 %>
            <p class="iconcount" id="notificationcount"><%= current_user.notifycount %></p>
          <% end %>
        </div>
        <div id="notificationContainer">
          <div id="notificationTitle">通知</div>
          <div id="notificationsBody">
            <% mynotice.each do |n|  %>
              <% if n.types == 1 || n.types == 3 %>
                <div class ='notifications notifypost-show' data-toggle="modal" data-target="#notifypostmodal" data-id="<%= n.sender_id %>"><%=  n.body %></div>
              <% else %>
                <%= link_to n.body , user_path(n.sender_id),:class => 'notifications' %>
              <% end %>
            <% end %>
          </div>
          <div id="notificationFooter"><%= link_to '全部通知',notice_path %></div>
        </div>
      </li>
      <li id="draw">
        <a href="#" data-toggle="modal" data-target="#drawmodal">
          <%=image_tag 'menu/draw.png',:id => "drawicon" %>
          <%=image_tag 'menu/drawhover.png',:id => "drawiconhover" %>
        </a>
      </li>
  <% else %>
    <li><%= link_to image_tag('menu/login.png'),login_path %></li>
  <% end %>
</div>

<div class="modal fade" id="notifypostmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<%= render 'draws/draw' %>

<script>
  $('#mailbox')
  .mouseover(function(){
    $('#mailboxicon').hide();
    $('#mailboxiconhover').show();
  })
  .mouseout(function() {
    $('#mailboxicon').show();
    $('#mailboxiconhover').hide();
  });

  $('#draw')
  .mouseover(function(){
    $('#drawicon').hide();
    $('#drawiconhover').show();
  })
  .mouseout(function() {
    $('#drawicon').show();
    $('#drawiconhover').hide();
  });


  $(document).ready(function() {
    $("#notificationLink").click(function() {
      event.preventDefault();
      if ($('#notificationContainer').css('display') == 'none'){
        $("#notificationContainer").fadeIn();
      }
      else{
        $("#notificationContainer").fadeOut();
      }
    });
    /* ajax show */
    $('.notifypost-show').on('click',function(){
      var ajaxurl = '/posts/' + this.getAttribute("data-id");
      $.ajax({
        url:ajaxurl,
        type: 'GET',
        success: function(response) {
          $('#notifypostmodal .modal-content').prepend(response);
          $('#notifypostmodal').data('bs.modal').handleUpdate();
        }
      });
    });
    $('#notifypostmodal').on('hidden.bs.modal', function () {
      $('#notifypostmodal .modal-content').empty();
    });

    /* clear notify count */
    $('#notificationLink').on('click',function(){
      var ajaxurl = '/clearnotify/' + this.getAttribute("data-id");
      $.ajax({
        url:ajaxurl,
        type: 'POST',
        success: function(response) {
          $('#notificationcount').remove();
        }
      });
    });

    /* clear draw model when user close */
    $('#drawmodal').on('hidden.bs.modal', function () {
      $('#drawmodal #stepone').css('display','none');
      $('#drawmodal #steptwo').css('display','block');
      $('#drawmodal #stepthree').css('display','none').empty();
      $('#drawmodal #stepfour').css('display','none').empty();
    });

    $('#drawmodal #join').on('click',function(){
      $('#drawmodal #stepone').css('display','none');
      $('#drawmodal #steptwo').css('display','block');
    });

    $('#drawmodal #submit').on('click',function(){
      var check=["A","B","C","D","E","F","G"];
      var params="";
      for(var i in check){
        if($("#steptwo input[name='"+check[i]+"']").prop("checked")){
          params+=check[i];
          $("#steptwo input[name='"+check[i]+"']").click();
        }
      }
      var ajaxurl = '/draw?c='+params;
      $.ajax({
        url:ajaxurl,
        type: 'POST',
        success: function(response) {
          $('#drawmodal #steptwo').css('display','none');
          $('#drawmodal #stepthree').css('display','block').append(response);
        }
      });
    });
  });
</script>
