<!DOCTYPE html>
<html>
<head>
  <title>Nonesense</title>
  <meta content='<%= current_user ? current_user.id : "" %>' name='user-id'/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>" style="margin-top:50px;">
          <%= value %>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
  <% end %>
  <div class="container" style="width:95%;">
    <div class="row">
      <div id="menu-desktop">
        <%= render 'layouts/desktopmenu' %>
      </div>
      <div id="menu-mobile">
        <%= render 'layouts/mobilemenu' %>
      </div>
      <div class="col-md-10 col-sm-10 col-md-offset-2 col-sm-offset-2" style="padding-top:50px;padding-bottom:200px;">
        <%= render 'layouts/topmenu' %>
        <%= yield %>
      </div>
    </div>
  </div>
  <i class="scrollToTop angle double up icon" style="font-size:48px;"></i>
</body>
<script>
$(document).ready(function(){

	$('.scrollToTop').hide();
	//Check to see if the window is top if not then display button
	$(window).scroll(function(){
		if ($(this).scrollTop() > 100) {
			$('.scrollToTop').fadeIn();
      $('.topmenu').css('background','rgba(255,255,255,0.8)');
		} else {
			$('.scrollToTop').fadeOut();
      $('.topmenu').css('background','rgba(255,255,255,1)');
		}
	});

	//Click event to scroll to top
	$('.scrollToTop').click(function(){
		$('html, body').animate({scrollTop : 0},800);
		return false;
	});
});
</script>
</html>
